<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div>
<h1>For Member................</h1>

<div sec:authorize="hasRole('USER')">Has USER ROLE</div>
<div sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</div>
<div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE</div>

<div sec:authorize="isAuthenticated()">Only Authenticated user can see this Test</div>

Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>
<button class="btn">test button</button>

</div>

<script src="javascript">

    /*$(".btn").click(function (){ //외부에서 '/notes/xxx' 을 사용할때
        $.ajax({
            beforeSend:function (request){
                request.setRequestHeader("Authorization",'Bearer '+ jwtValue);
            },
            dataType: "json",
            url: 'http://localhost:8080/notes/all',
            data: {email: 'user100@zerock.org'},
            success: function (arr){
                console.log(arr);
            }
        })
    })*/
</script>
</body>
</html>